/* Container styles */
.GD {
    font-size: 24px;
    text-align: center;
    margin-bottom: 5%;
  }
  
  /* Center the form and its content */
  .GRcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
  }
  
  /* Form input styles */
  .GestName,
  .visitPurpose {
    display: block;
    font-weight: bold;
  }
  
  .GuestInput {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Submit button styles */
  button[type="submit"] {
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px 20px;
    margin-left: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #000000;
  }
  