/* AdminLastRecord.css */

/* 전체 레이아웃 */
div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* AdminLastRecord.css 수정 및 추가 */
.adminrecord_button-group {
    display: flex;
    justify-content: space-between; 
    width: 150%;
    max-width: 500px;  /* max-width 값을 늘렸습니다. */
    margin-bottom: 20px; /* 버튼과 제목 사이에 여백 추가 */
    /* text-align: center; */
    display :inline-block;
}

/* 조회하기 및 뒤로가기 버튼에 대한 스타일 */
.bt_left, .bt_right {
    width: 150px; 
    height: 50px; 
    border: 2px solid #007bff;
    background-color: #fff; 
    color: #007bff; 
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.bt_left {
    top: 20px;
    left: 20px;
    float: left;
}

.bt_right {
    top: 20px;
    right: 20px;
    float: right;
}

.bt_left:hover, .bt_right:hover {
    background-color: #0056b3;
    color: #fff;
}

/* 출석 현황 제목 */
h1 {
    font-size: 40px;
    color: #333;
    margin-bottom: 30px;
}

/* 테이블 스타일 */
#table-container {
    width: 100%;
    overflow-x: auto;  /* 테이블의 너비가 div를 초과할 경우 스크롤 허용 */
}

table {
    width: 100%;
    border-collapse: collapse;
}
